* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* En-tête */
header {
    background-color:orchid;
    color: #fff;
    padding: 1px 10px;
}

nav .logo img {
    width: 100px;
    padding: 10px;
}

/* Bannière */
.banner {
    background-color: orchid;
    color:black;
    text-align: center;
padding: 20px 20px;

}
.banner h1 {
    font-size: 3em;
}

.banner p {
    font-size: 1.2em;
}
.carousel-container {
    width: 100%;
    margin: 5 auto;overflow: hidden;
    border-radius: 10px;
  }
  .carousel {
    display: flex;
  }
  .carousel img {
    width: 30%;}

    .cards {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        flex-wrap: wrap;
        margin: 30px 0;
        padding: 20px;
    }
    .card{
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 250px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }
    .card:hover {
        transform: translateY(-10px);
    }
    .card img {
        width: 100%;
        border-radius: 8px;
    }
    .card h3 {
        margin-top: 15px;
        font-size: 22px;
        color: #333;
        text-align: center;
    }
    .card p {
        color: #777;
        font-size: 16px;
     text-align: center;
    }
    .vv{ text-align: center; color: black;
    background-color:orchid;}
  
  