      /* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
/* Header - Menu horizontal */
.header {
    background-color: #ff5c8d;
    padding: 10px 0;
    text-align: center;
   
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cc{text-align: center;
color: #ff3d64;}
/* Sidebar - Menu vertical */
.sidebar {
    width: 250px;
    position: fixed;
    top: 60px; /* Juste sous le menu horizontal */
    left: 0;
    background-color: #ff5c8d;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    height: calc(100vh - 60px); /* Pour couvrir toute la hauteur sous le header */
    box-sizing: border-box;
}
.sidebar h2 {
    font-size: 22px;
    margin-bottom: 20px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li {
    margin: 15px 0;
}
.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.sidebar ul li a:hover {
    background-color: #ff3d64;
}
/* Contenu principal à côté du menu vertical */
.main-content {
    margin-left: 270px; /* Laisse de l'espace pour la sidebar */
    padding: 20px;
}
/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
footer p {
    margin: 0;}
 
.image {
    width: 30%;
    height: 100%;
    object-fit: cover; 
    display: flex;
    animation:step-end;
    width: 100%;
    overflow: hidden;
    position: relative; 
    min-width: 50%;
    height: 400px;
}
.cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 20px;
}
.card{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
}
.card img {
    width: 100%;
    border-radius: 8px;
}
.card h3 {
    margin-top: 15px;
    font-size: 22px;
    color: #333;
    text-align: center;
}
.card p {
    color: #777;
    font-size: 16px;
 text-align: center;
}
h1{ text-align: center;
color: black}